<div class="main grid grid-cols-3 gap-4">
  <div class="grid grid-cols-1 content-center">
    <div class="flex sm:justify-center lg:justify-center">
      <img src="assets/logo.ico" class="w-[60px] h-[60px]" />
      <div class="flex items-center ml-4">
        <h1
          class="text-base sm:text-3xl font-semibold text-center text-[#003366]"
        >
          Piggy
        </h1>
      </div>
    </div>
    <div class="grid justify-items-center">
      <h3 class="text-[#02060C]/[0.6]">© 2024 Piggy Limited</h3>
    </div>
  </div>
  <div class="grid grid-cols-2">
    <div class="grid place-content-start mt-8">
      <div class="grid justify-items-center space-y-4">
        <h1 class="font-semibold">Company</h1>

        <h1 class="text-[#02060C]/[0.6]">About Us</h1>
        <h1 class="text-[#02060C]/[0.6]">Piggy Corporate</h1>
        <h1 class="text-[#02060C]/[0.6]">Careers</h1>
        <h1 class="text-[#02060C]/[0.6]">Team</h1>
        <h1 class="text-[#02060C]/[0.6]">Piggy One</h1>
        <h1 class="text-[#02060C]/[0.6]">Piggy Dineout</h1>
        <h1 class="text-[#02060C]/[0.6]">Piggy Instamart</h1>
      </div>
    </div>
    <div class="grid place-content-start mt-8">
      <div class="grid justify-items-center space-y-4">
        <h1 class="font-semibold">Contact</h1>

        <h1 class="text-[#02060C]/[0.6]">Help & Support</h1>
        <h1 class="text-[#02060C]/[0.6]">Ride with Us</h1>
        <h1 class="text-[#02060C]/[0.6]">Partner with us</h1>
        <h1 class="text-[#02060C]/[0.6]">Team</h1>
      </div>
    </div>
  </div>
  <div class="grid grid-cols-2">
    <div class="grid place-content-start mt-8">
      <div class="grid justify-items-center space-y-4">
        <h1 class="font-semibold">Available In:</h1>

        <h1 class="text-[#02060C]/[0.6]">Gotham</h1>
        <h1 class="text-[#02060C]/[0.6]">Vinland</h1>
        <h1 class="text-[#02060C]/[0.6]">Manhatten</h1>
        <h1 class="text-[#02060C]/[0.6]">Tiruchupally</h1>
        <h1 class="text-[#02060C]/[0.6]">Krypton</h1>
        <h1 class="text-[#02060C]/[0.6]">Wakhende</h1>
        <h1 class="text-[#02060C]/[0.6]">Eden Gardens</h1>
      </div>
    </div>
    <div class="grid place-content-start mt-8">
      <div class="grid justify-items-center space-y-4">
        <h1 class="font-semibold">Life at Piggy</h1>

        <h1 class="text-[#02060C]/[0.6]">Explore</h1>
        <h1 class="text-[#02060C]/[0.6]">Piggy News</h1>
        <h1 class="text-[#02060C]/[0.6]">Trending at Piggy</h1>
      </div>
      <br />
      <br />
      <div class="grid justify-items-center space-y-4">
        <h1 class="font-semibold">Social Links</h1>
        <div>
          <img
            src="https://media-assets.swiggy.com/h_32/portal/m/seo/icon-linkedin.png"
            alt=""
            class="w-[20px] h-[20px] mr-4"
            style="display: inline"
          />
          <img
            src="https://media-assets.swiggy.com/h_32/portal/m/seo/icon-instagram.png"
            alt=""
            class="w-[20px] h-[20px] mr-4"
            style="display: inline"
          />
          <img
            src="https://media-assets.swiggy.com/h_32/portal/m/seo/icon-facebook.png"
            alt=""
            class="w-[10px] h-[20px] mr-4"
            style="display: inline"
          />
          <img
            src="https://media-assets.swiggy.com/h_32/portal/m/seo/icon-twitter.png"
            alt=""
            class="w-[20px] h-[20px]"
            style="display: inline"
          />
        </div>
      </div>
    </div>
  </div>
</div>
