<div class="ml-60 mt-3 flex justify-between mr-60">
  <div class="flex">
    <div class="flex sm:justify-left lg:justify-left">
      <img src="../../../assets/logo.ico" class="w-[50px] h-[50px]" />
    </div>
    <div class="ml-4 mt-1">
      <!-- <select
        name="Role"
        class="outline-none mt-4 text-sm ml-8 text-gray-700 leading-tight focus:outline-none focus:shadow-outline hover:text-blue-500"
      >
        <option class="outline-none" value="default">Add Address</option>
        <option value="test">test</option>
        <option value="test2">test2</option>
      </select> -->

      <p-dropdown
        class="hover:text-blue-500"
        [options]="cities"
        [(ngModel)]="selectedCity"
        optionLabel="name"
        placeholder="Select a City"
      />
    </div>
  </div>
  <div (click)="toggleProfileBar()" class="flex items-center">
    <img
      src="../../../../assets/profilepic.png"
      alt="profile"
      class="w-[50px] h-[50px]"
    />
  </div>
</div>
<div
  *ngIf="isProfileToggled"
  class="md:absolute right-[168px] mt-100 w-48 bg-gray-600 rounded-md shadow-lg z-10"
>
  <option
    class="block px-4 py-2 bg-white border-blue-500 text-black-100 hover:text-blue-500"
    style="user-select: none"
  >
    Your Account
  </option>
  <a
    class="block px-4 py-2 bg-white border-blue-500 text-black-100 hover:text-blue-500"
    style="user-select: none"
    (click)="logout()"
  >
    Logout
  </a>
</div>
