<div class="ml-60 mt-3 flex justify-between mr-60">
    <div class="flex">
        <div class="flex sm:justify-left lg:justify-left">
            <img src="../assets/logo.ico" class="w-[50px] h-[50px] "/>
        </div>
        <div>
            <select name="Role" class="outline-none mt-4 text-sm ml-8 text-gray-700 leading-tight focus:outline-none focus:shadow-outline hover:text-blue-500">
                <option class="outline-none" value="default">Add Address</option>
                <option value="test">test</option>
                <option value="test2">test2</option>
            </select>
        </div>
        <div class="mt-4 ml-8">
            <p-dropdown 
                [options]="cities" 
                [(ngModel)]="selectedCity" 
                optionLabel="name"
                placeholder="Select a City"
                class="hover:text-blue-500" />
        </div>
    </div>
    <div class="flex items-center">
        <img src="../../../../assets/profilepic.png" alt="profile" class="w-[50px] h-[50px]"/>
    </div>
</div>

