/* @tailwind base;
@tailwind components;
@tailwind utilities; */

.container {
  width: 300px;
  height: 420px;
  transition: all 300ms;
}

.background {
  width: 100%;
  height: 750px;
  background: -webkit-linear-gradient(left, #003366, #004080, #0059b3, #0073e6);
}

@media screen and (min-width: 450px) and (max-width: 640px) {
  .background {
    width: 100%;
    background: rgb(228, 227, 227);
  }
}

@media screen and (min-width: 0px) and (max-width: 450px) {
  .background {
    background: white;
  }
}

.form-container {
  display: flex;
  flex-direction: column;
}

.formInputError {
  @apply border-red-500;
}

.btn-bg {
  color: white;
  font-size: 20px;
  background: -webkit-linear-gradient(left, #003366, #004080, #0059b3, #0073e6);
}

.formSubmitDisable {
  background: -webkit-linear-gradient(left, #969699, #969699, #969699, #969699);
}

.toggle {
  display: flex;
  margin-top: 10px;
  justify-content: center;
}

.slide-controls {
  position: relative;
  display: flex;
  height: 50px;
  width: 100%;
  overflow: hidden;
  margin: 30px 0 10px 0;
  justify-content: space-between;
  border: 1px solid lightgrey;
  border-radius: 15px;
}
.slide-controls .slide {
  height: 100%;
  width: 100%;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  line-height: 48px;
  cursor: pointer;
  z-index: 1;
  transition: all 0.6s ease;
}
.slide-controls label.signup {
  color: #000;
}
.slide-controls .slider-tab {
  position: absolute;
  height: 100%;
  width: 50%;
  left: 0;
  z-index: 0;
  border-radius: 15px;
  background: -webkit-linear-gradient(left, #003366, #004080, #0059b3, #0073e6);
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
input[type="radio"] {
  display: none;
}

#signup:checked ~ .slider-tab {
  left: 50%;
}
#signup:checked ~ label.signup {
  color: #fff;
  cursor: default;
  user-select: none;
}
#signup:checked ~ label.login {
  color: #000;
}
#login:checked ~ label.signup {
  color: #000;
}
#login:checked ~ label.login {
  cursor: default;
  user-select: none;
}

.main {
  margin: 3rem 3rem;
  padding: 3rem 3rem;
}

@media screen and (max-width: 640px) {
  .main {
    margin: 3rem 10px;
    padding: 3rem 0px;
  }
}
